*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(0,167,209);
    background: radial-gradient(circle, rgba(0,167,209,0.4878151944371498) 21%, rgba(0,167,209,0.4878151944371498) 50%, rgba(0,167,209,1) 72%, rgba(0,212,255,1) 100%); 
   
}

#container{
    max-width: 1200px;
    margin: 0 auto;
    /* container onde está abrigado todos os elementos do site */
    
    /* max-width: 1800px; decidi deixar comentado, caso a equipe de design decida dar um limite ao tamanho da tela do site*/ 
    /* margin: auto; centralizar site */

    /* border: 1px solid black; essa porra só fica certo se eu deixar uma borda aqui.
    TIVE QUE ADD ALGUNS "br" NO HTML PRA SEPARAR O HEADER DO CONTAINER*/
}
/* NAVEGAÇÃO DO SITE */
header{
    /* esse header está um pouco redundante, tanto faz usar esses parametros abaixo nele ou no id=#menu */
    width: 100%;
    position: fixed;
}
#menu{
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2%;
    height: 65px;                   
   /* position: fixed; */
    background-color: #fff;
}
nav{
    display: flex;
    justify-content: flex-end;
    right: 0;
}
.logo{
    display: flex;
    width: 70px;   /* tamanho da caixa da logo */
    height: 65px;
    left: 0;
    border-radius: 45px;
    float: left;
    justify-content: flex-start

}
.logo img{
    width: 100%;   /* imagem vai ocupar o tamanho da div em que ela está contida */
    border-radius: 15px;   /* arredondei a imagem */
}

/* estilização das letras e outros elementos da lista de navegacao */
nav ul li{
    display: inline-block;
    
}

.opcoes{
    display: flex;
    gap: 10px;
    height: 100%;                    /* CAIXA INterior DO Z-index*/
}
.opcoes li{
    
    width: 120px;
    height: 45px;
    margin-top: 10px;
    list-style: none;               /*Caixa de texto dos botões superiores topo*/
    z-index: auto;
    
}
.opcoes li a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #00d4ff;
    text-decoration: none;
    font-size: 102%;
    transition: all .5s linear;
    border-radius: 6px;
    font-weight: 1em;
}
.opcoes li:hover > a{
    background-color: #00d4ff;
    color:#fff;
}

/* sub-menu de serviços e login */
.sub-opcao li{
    display: none;
    margin-top: 8px;
}
.opcoes li:hover .sub-opcao li{
    display: block;
    color: #fff;
}
.sub-opcao li a{
    background-color: #fff;
    color: #00d4ff;
}

/* HEADER,PERFIL DO USUÁRIO*/
.topo{
    display: flex;
    margin: auto;
    margin-top: 55px;
    width: 99%;
    height: auto;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #fff;

}
.perfil{
    width: 140px;
    height: 135px;
    border-radius: 125px;
    margin: 13px 12.5px;
    
    /* float: left; adicionei o display:flex no ".topo", e não foi mais necessário o uso do float:left nesta div */
}
.perfil img{
    width: 100%; /* width:100% deixa a imagem ocupando todo o espaço da div, então se eu alterar o tamanho da div em que ela se encontra, a imagem vai se adaptar */
    object-fit: cover;
    border-radius: 75px; /* arredondei a imagem */
}
.topo-infos{
   /* float: left; adicionei o display:flex no ".topo", e não foi mais necessário o uso do float:left nesta div */
    width: 900px;
    height: 120px;
    margin-top: 25px;
    /* color: #fff; */
}
/* CORPO DO SITE*/
main{
    width: 99%;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    margin: auto;
    margin-top: 20px;
    /* display: flex;  n faz diferença pois ja tem o flex no mid e nos cards */
    color: black;
   
}

/*=============================CARDS======================================================*/

.mid{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    margin: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden; /*  esconde o pedaço da imagem que passar a div */
    width: 350px;
     cursor: pointer;/* o cursor faz o L */
    /* columns: 2; lado a lado, imagem e descrição */
    border: 1px solid dark#00d4ff;
}
.card:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.342);
}
.card-foto img{
    width: 100%;
    height: 300px;
    object-fit: cover;/* A propriedade CSS object-fit especifica como o conteúdo de um elemento substituído deve ser ajustado à caixa estabelecida pela altura e largura usadas. https://developer.mozilla.org/pt-BR/docs/Web/CSS/object-fit */
    cursor: pointer;
}
.descricao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    max-height: 200px;  /*alterei o max-height para permitir add mais habilidades sem fazer a lista sumir */
}
.descricao ul{
    margin: 3px 12px;
}
.nome-trabaiador{
    color: #fff;
    background-color: rgb(164, 120, 9);
    padding: 2px 5px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;

}
/*=============================CARDS FIM==================================================*/

@media (max-width: 600px){
      .mid, .card {
        margin: 20px 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    .nome-trabaiador{
        background-color: black;
    }
}

