*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* CORPO DO SITE */
#container{
    /* container onde está abrigado todos os elementos do site */
    max-width: 1280px;
    margin-top: 90px;
    
    position: absolute;
    left: 50%; /*empurra para esquerda 50% do tamanho do box1*/
    top: 50%; /*empurra para esquerda 50% do tamanho do box1.
    Assim, o canto superior esquerdo do box 2 fica centro do box 1*/

    transform: translate(-50%, -50%); /*volta para cima e para esquerda 50% do seu tamanho (box2)
    Centralizando o box 2 dentro do box1*/
}
/*.barra-pesquisa{
    display: block;
    width: 450px;
    height: 100px;
    margin: 150px 0 10px;
}*/
h1, h2{
    color: #189eb9;
}
main{
    height: 80vh;
}
.barra-pesquisa input{
    width: 70%;
    height: 35px;
}
.barra-pesquisa button{
    background-color: lightblue;
    cursor: pointer;
}
.barra-pesquisa img{
    width: 35px;
}
.box-categorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}
.categoria{
    background-color: aliceblue;
    width: 100%;
    margin: 5px;
    width: 150px;
    height: 150px;
}
.categoria a{
    width: 100%;
}

.area{
    display: flex;
   
    height: auto;
    margin: 10px;
}

.slogan{
    margin-top: 30px;
    width: 350px;
}
.apks{
    width: 300px;
    display: flex;
    margin-top: 15px;
}
.baixar{
    width: 100%;
    margin-top: 10px;
    padding: 5px;
}
.imgcarinha{
width: 300px;
}
.imgcarinha img{
    border-radius:150px;
    float: right;
}

.redes{
    text-align: end;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #eee;
   
}
@media (max-width: 600px){
    .barra-pesquisa input{
        width: 60%;
    }
    .box-categorias{
        justify-content: center;
    }
    .area{
        flex-direction: column;
        align-items: center;
    }
}