body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: rgb(134,208,216);
    background: radial-gradient(circle, rgba(134,208,216,1) 13%, rgba(108,185,177,1) 40%); 
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

input.button {
    color: white;
    font-size: 16px;
}

.box1 {
    margin: 150px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 300px;
    height: 450px;
    text-align: center;
}
.box1 img{
    width: 48px;
}
.box1 a{
    width: 100%;
    margin: 0 17px;
}

.box2 {
    margin: 100px;
    padding: 20px;
    border: gray dashed 5px;
    border-radius: 900px;
    width: 413px;
    height: 587px;    
}

.box2 img {
width: 100%;
border-radius: 900px;
}

.button {
    background-color: #47cbd4;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}
